@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Open Sans', sans-serif;
}

.header {
    height: 57vw;
    background-image: url("img/header-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 210px;
    margin-top: 57px;
}

.nav {
    display: flex;
    list-style-type: none;
    margin-top: 71px;
    margin-left: 70px;
}

.item1 {
    display: flex;
}

.nav_text {
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 40px;
}

.phone {
    font-family: "Anton", sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-right: 175px;
    padding-top: 69px; 
}

.header_information {
    margin-left: 210px;
    margin-top: 215px;
}

.header_heading {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    line-height: 44px;
    text-indent: 3px;
}

.header_subtitle {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    line-height: 107px;
}

.btn {
    margin-top: 37px;
    margin-left: 3px;
    width: 238px;
    height: 57px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
   

.main_heading {
    padding-left: 210px;
    padding-top: 113px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #000;
    text-transform: uppercase;
}

.blocks {
    display: flex;
    margin-left: 210px;
}

.main_block:first-child {
    margin-left: 0;
}

.main_block {
    margin-left: 36px;
}

.main_sabtitle {
    font-family: "Anton", sans-serif;
    color: #000;
    font-weight: 400;
    padding-top: 50px;
}

.main_text {
    width: 564px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-top: 19px;
}

.main_image {
    margin-top: 67px;
    margin-left: 210px;
}

.footer {
    display: flex;
    margin-top: 114px;
    margin-left: 210px;
}

.footer_rights {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.footer_author {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding-left: 55px;
}